<!doctype html>
<html lang="en-us">

  <head>

      <title>Are we open?</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="style.css">

  </head>

  <body>

    <main class="chat" role="main">

      <article class="chat__box" role="article">

        <h1 class="message message--user">
          <span class="message__text">Are you open today?</span>
        </h1>

        <template v-for="message in messages">
          <p class="message" v-bind:class="{ 'message--bot' : message.user == 'bot', 'message--user' : message.user == 'user' }" v-if="message.text">
            <span class="message__text">{{ message.text }}</span>
          </p>
        </template>

        <div class="message message--user">
          <button class="message__text message__action message__action--tomorrow" v-on:click="areWeOpen( tomorrow )">And tomorrow?</button>
          <button class="message__text message__action message__action--week" v-on:click="showSchedule">Show me the next 5 days</button>
        </div>
    </article>
  </main>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="main.js"></script>
  </body>
</html>
